body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    text-align: center;
    margin: 0;
}

header {
    background-color: #006437;
    color: white;
    padding: 20px;
}

main {
    margin: 30px;
}

img {
    width: 400px;
    border-radius: 10px;
}

h2 {
    color: #006437;
}

p {
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
}

button {
    background-color: #006437;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008c4f;
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
    color: #006437;
}